<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.brunodles.workshop.featuretoggle"
  >

  <application android:theme="@style/AppTheme">
    <activity android:name=".newDetails.NewDetailActivity">
      <intent-filter>
        <action android:name="com.brunodles.workshop.featuretoggle.ACTION_NEW_DETAILS"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="com.brunodles.workshop.featuretoggle"/>
      </intent-filter>
    </activity>
  </application>

</manifest>